.meios-canais-widget {
  display: flex;
  background: #1818a7;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.mc-sidebar {
  width: 25%;
  background: #1e1eb3;
  padding: 30px 15px;
}

.mc-item {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  position: relative;
  padding-left: 30px;
}

.mc-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  border-radius: 4px;
}

.mc-item:hover {
  color: #d9cd2c;
}

.mc-content {
  width: 75%;
  padding: 80px 0 0 80px;
  position: relative;
}

.mc-header h5 {
  font-size: 20px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.mc-header h2 {
  font-size: 86px;
  margin: 5px 0 20px;
  font-family: 'ExtendaTTF';
}

.mc-panel-inner {
  display: flex;
  
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.mc-panel-text {
  flex: 1 1 45%;
}

.mc-panel-text h3 {
  color: #d9cd2c;
  font-size: 75px;
  margin-bottom: 10px;
  font-family: 'ExtendaTTF';
}

.mc-panel-text p {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Inter';
  width: 84%;
}

.mc-panel-image {
  position: relative;
  flex: 1 1 45%;
  max-width: 500px;
  right: 90px;
}

.mc-panel-image img {
  max-width: 100%;
  z-index: 2;
  position: relative;
}

.mc-panel-image .circle-bg {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  padding-top: 100%;
  /* Mantém formato circular */
  top: 0;
  left: 0;
  z-index: 1;
}

.mc-sidebar {
  width: 25%;
  background: #1818a7;
  padding: 80px 15px;
  position: relative;
}

.mc-line-indicator {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #d9cd2c;
  left: 0px;
  border-radius: 4px;
  transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateX(-12px);
  z-index: 1;
}

.mc-line-indicator.visible {
  opacity: 1;
  transform: translateX(0);
}

.mc-panel {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}